.slider {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: auto;
    height: 40vh;
    border-radius: 1vw;
}



.right-arrow {
    position: absolute;
    top: 70%;
    right: 15vw;
    font-size: 3vh;
    color: #F0F8FF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 70%;
    left: 15vw;
    font-size: 3vh;
    color: #F0F8FF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;

}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    text-align: center;
}

.slide.active p {
    font-size: 2vh;
    color: #F0F8FF;
    margin-bottom: 1vh;
    font-family: 'Lato', sans-serif
}

sub {
    font-size: small;
}

.game-text {
    width: 80%;
    height: 30vh;
    margin-left: 10vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.game-text p {
    color: #F0F8FF;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    width: 60%;
}

.specification {
    margin-left: 10vw;
    width: 40%;
    margin-bottom: 10vh;
}